.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative; }
    .icon:before {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-size: calc(18pt + .44vw);
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-transform: none !important; 
      margin-left: 4px;
    }
    .icon > .label {
      display: none; }
  ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0; }
    ul.icons li {
      display: inline-block;
      padding: 0 1rem 0 0; }
      ul.icons li:last-child {
        padding-right: 0; }
      ul.icons li .icon:before {
        font-size: 2rem; }